@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.signUpPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpBox {
  background-color: #ffffff;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: left;
    padding-top: 16px;
    margin: 0;
    font-size: 22px;
}

.signInForm div {
    font-size: 12px;
    width: 90%;
}

input:-webkit-autofill {   /*fills the input fields for PasswordInput & UsernameInput*/
    background-color: #e6faff !important;
    -webkit-box-shadow: 0 0 0px 1000px #e6faff inset !important; /* Ensures color stays */
    color: black !important;
}

.signUpHeader {
    text-wrap: nowrap;
    text-align: center;
    font-size: 23px;
    font-family: 'Poppins';  
}

.createAccount-signButton {
    border: none;
    cursor: pointer;
    padding: 0px;
    font-family: 'Poppins';
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    color: white;
    background-color: #163785;
    border-radius: 5px;
}

.signUpBox .accountButton:hover {
    color: #ddd;
}
.noAccount {
    align-self: center;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 10pt;
    text-align: center;
}
.createAccountLink {
    color: #5083E0;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    font-family: 'Poppins';
}

input:-webkit-autofill {   /*fills the input fields for PasswordInput & UsernameInput*/
    background-color: #e6faff !important;
    -webkit-box-shadow: 0 0 0px 1000px #e6faff inset !important; /* Ensures color stays */
    color: black !important;
}