@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 520px;   /* set width */
    height: 470px;  /* set height */
    background: #ffe77d;
    border-radius: 10px;
    border-width: 20px;
    
    position: fixed;   /* centers in the middle of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUpHeader {
    text-align: center;
    font-family: 'Poppins';
    font-size: 23px;
    padding-bottom: 66px;
        
    position: fixed;   /* centers in the middle of the page */
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
}

.signUpBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 510px;
    width: 400px;
    border-radius: 10px;
    position: relative;
}

.email {
    padding: 10px;
    font-size: 8pt;
    width: 80%;
}
.emailInput {
    width: 100%;
    border-radius: 5px;
}

.username {
    padding:10px;
    font-size: 8pt;
    width: 80%;
}
.usernameInput {
    width: 100%;
    border-radius: 5px;
}

.pass {
    font-size: 8pt;
    padding:10px;
    width: 80%;
}
.passwordInput {
    width: 100%;
    border-radius: 5px;
}
.passConfirm {
    font-size: 8pt;
    padding:10px;
    width: 80%;
}
.passwordConfirmInput {
    width: 100%;
    border-radius: 5px;
}
.createAccount-signButton {
    border: none;
    cursor: pointer;
    width: 70%;
    height: 30px;
    color: white;
    background-color: #163785;
    position: absolute;
    bottom: 35px; /* places button at the bottom of the box */
    left: 50%; /* horizontally positioned at center */
    transform: translateX(-50%);
}
.signUpBox .createAccount-signButton:hover {
    color: #ddd;
}
.noAccount {
    font-size: 10pt;
}
.createAccountLink {
    color: #163785;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
}
.forgotPass {
    color: #163785;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
}