html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

.createPage {
    display: flex;
    width: 100vw;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.createBox {
    background-color: #CCF2FF;
    height: 80%;
    width: 90%;
    border-radius: 12px;
}

.infoFill {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.leftBox {
    width: 60%;
    height: 100%;
    padding: 5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.uploadButton {
    width: 100%; 
    height: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61606E; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 10px; 
    overflow: hidden; 
}

.uploadButton:hover {
    background-color: #42414a; 
}

.uploadedImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

#fileInput {
    display: none; 
}

.locationInput,
.eventNameUpload,
.eventDescriptionUpload {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.locationInput {
    margin-top: 20px;
}
.trackingInput {
    width: 100%;
    height: 100%;
}
.eventDescriptionUpload {
    height: 100%;
}

.rightBox {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    padding-left: 2.5%;
}

.dateInput,
.timeInputStart,
.timeInputEnd {
    width: 100%; 
    padding: 10px;
    margin-top: 10%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dateInput {
    margin: 0;
}

.postEvent {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 15%; 
    color: white;
    background-color: #163785;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10%; 
}

.postEvent:hover {
    background-color: #002244; 
}

.subtitle {
    font-size: 12px;
    margin: 0;
}

.inputContainer {
    width: 100%;
}

.inputContainer2 {
    width: 100%;
    height: 30%;
}

.topBorder {
    border-top:solid #002244 1px;
    margin-top: 5%;
}