.footer {
    position: relative;
    background-color: #163785;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  
  .footer-wave {
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    line-height: 0;
  }
  
  .footer-wave svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  