@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.signInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}
input[type=text] {
    font-family: 'Poppins';
    text-indent: 4px;
}

.signInContainer {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    box-sizing: content-box;
    background: #ffe77d;
    border-radius: 10px;
    border-width: 20px;
    padding: 30px;

}


.signInForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accountHeader {
    font-size: 12px;
    text-align: center;
    font-family: 'Poppins';
}

.signInBox {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #163785;
    height: 370px;
    width: 320px;
    padding: 20px;
}

.signInEmail {
    font-size: 12px;
    width: 90%;
}

.signInEmailInput {
    margin-top: 5px;
    text-indent: 4px;
    width: 100%;
    border-radius: 4px;
    font-family: 'Poppins';
    background-color: #e6faff;
    border-color: #000000;
}

.signInPass {
    width: 90%;
    font-size: 12px;
}

.accountInput {
    font-family: 'Poppins';
    width: 100%;
    text-indent: 4px;
    border-radius: 4px;
    border-color: #000000;
    background-color: #e6faff;
}

input:-webkit-autofill {   
    background-color: #e6faff !important;
    -webkit-box-shadow: 0 0 0px 1000px #e6faff inset !important; /* Ensures color stays */
    color: black !important;
}

.accountButton {
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-top: 20px;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    color: white;
    background-color: #163785;
    font-family: 'Poppins';

}

.signInBox .signIn-signButton:hover {
    color: #ddd;
}

.signInNoAccount {
    font-size: 10pt;
    padding-top: 10px;
    text-align: center;
}
.signInCreateAccountLink {
    color: #5083E0;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    font-family: 'Poppins';
}
.signInForgotPass {
    color: #5083E0;
    text-decoration: underline;
    background-color: transparent;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    font-family: 'Poppins';
}

.signInForm div h1 {
    margin-bottom: 5px;
}