@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input[type=text] {
    font-family: 'Poppins';
    text-indent: 4px;
}

.signInContainer {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 440px;   /* set width */
    height: 470px;  /* set height */
    background: #ffe77d;
    border-radius: 10px;
    border-width: 20px;

    /*clip-path: url(#waveClip);   <-- uncomment after making wave for signInBox */
}

/*wave wrapper & wave aspect*/

.waveWrapper {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10vh;
  }

  /*wave wrapper & wave aspect end*/

.signInForm {
    margin: 20px;
}

.signInHeader {
    text-align: center;
    font-family: 'Poppins';
    font-size: 23px;
    padding-bottom: 66px;
    
    position: fixed;   /* centers in the middle of the page */
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
}

.signInBox {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #163785;
    height: 370px;
    width: 300px;
}

.signInEmail {
    padding: 10px;
    padding-bottom: -20px;
    font-size: 11px;
    width: 80%;
    margin-top: 20px;
}

.signInEmailInput {
    margin-top: 5px;
    text-indent: 4px;
    width: 50%;
    border-radius: 4px;
    font-family: 'Poppins';
    background-color: #e6faff;
    border-color: #000000;
    position: absolute;   /* centers in the middle of the page */
    left: 50%;
    transform: translate(-50%, -50%);
}

.signInPass {
    font-size: 11px;
    padding: 10px;
    width: 80%;
}

.signInPasswordInput {
    font-family: 'Poppins';
    width: 50%;
    text-indent: 4px;
    border-radius: 4px;
    border-color: #000000;
    background-color: #e6faff;
    position: absolute;   /* centers in the middle of the page */
    left: 50%;
    transform: translate(-50%, -50%);
}

input:-webkit-autofill {   /*fills the input fields for PasswordInput & UsernameInput*/
    background-color: #e6faff !important;
    -webkit-box-shadow: 0 0 0px 1000px #e6faff inset !important; /* Ensures color stays */
    color: black !important;
}

.signIn-signButton {
    border: none;
    padding: 0px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 52%;
    height: 30px;
    color: white;
    background-color: #163785;
    font-family: 'Poppins';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.signInBox .signIn-signButton:hover {
    color: #ddd;
}

.signInNoAccount {
    font-size: 10pt;
    margin-top: 20px;
}
.signInCreateAccountLink {
    color: #5083E0;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    font-family: 'Poppins';
}
.signInForgotPass {
    color: #5083E0;
    text-decoration: underline;
    background-color: transparent;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    font-family: 'Poppins';

    position: absolute;
    left: 50%; /* horizontally positioned at center */
    transform: translateX(-50%); /* horizontally translated to center */
}