.navbar {
    background-color: #003566;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: right;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

    .nav-links li {
        display: inline;
        margin-right: 20px;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

        .nav-links a:hover {
            color: #ddd;
        }
