.searchBox {
    background-color: #EBF2FA;
    padding-top: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 250px;
    z-index: 1000;
    place-items: center;
}
.searchForm {
    margin:auto;
}
.search-button {
    margin-left: 20px;
}
